#root{
    position: relative;
}
.main-container{
    width: 100%;
    overflow: hidden;
}
.bg-circle{
    width: 1688px;
    height: 1956px;
    background: #F0F0F0;
    border-radius: 500.5px;
    position: absolute;
    top: -500px;
    z-index: -1;
    right: 0%;
}
.sec1{
    margin: 50px auto;
}
.xl-text{
    max-width: 80vw;
    height: 177px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 39px;
    text-align: center;
    color: #047496;
}
.sm-text{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    color: #555555;
    line-height: 25px;
    margin: auto;
    max-width: 270px;
}
.dnld-text{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    line-height: 25px;
    margin: 30px auto;
    color: #047496;
}
.dnld-links{
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.sec2{
    margin: auto;
}
.phone-image{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 65px;
}
.phone-image img{
    height: 400px;
}
.popup{
    width: 150px;
    height: 100px;
    background: white;
    position: absolute;
    border-radius: 5px;
}
.popup1{
    top: 49px;
    left: 20px;
}
.popup2{
    bottom: 60px;
    right: 20px;
}
.sec3{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.sec3-card{
    width: 300px;
    border-radius: 10px;
    background: white;
    margin: 10px;
    padding: 20px;
}
.card-detail{
    max-width: 327px;
    line-height: 32px;
    color: #555555;
}
.sec4 .md-text{
    margin: 50px auto;
}
.sec4 .lg-text{
    max-width: 522px;
    margin: auto;
    margin-bottom: 80px;
    font-weight: 300;
    font-size: 30px;
}
.sec4-b{
    margin-bottom: 75px;
}
.divider-block{
    border-radius: 30px;
    width: fit-content;
    overflow: hidden;
}
.divider-block div{
    width: 375px;
    height: 62px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.divider-block div:last-child{
    background: #FFD809;
}
.line{
    width: 25%;
    flex-grow: 1;
    height: 2px;
    background: white;
}
.sec5{
    margin-bottom: 80px;
}
.sec5-a{
    width: 420px;
    margin-bottom: 70px;
}
.sec5-b{
    width: fit-content;
}
.sec5-b img{
    width: 300px;
}
.sec5-a1{
    margin-bottom: 23px;
}
.sec5-a3 {
    margin-bottom: 37px;
    padding: 0 10px;
    text-align: center;
    line-height: 36px;
}
.sec6{
    position: relative;
}
.sec6-card{
    width: 300px;
    height: auto;
    background: #FCFCFD;
    box-shadow: 0px 50px 100px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 38px;
    margin-bottom: 65px;
}
.sec6-card .lg-text{
    max-width: 422px;
    color: #555555;
    margin: auto;
    line-height: 30px;
    margin-bottom: 10px;
}
.sec6-item{
    width: 300px;
    padding: 5px 25px;
    margin-bottom: 35px;
}
.sec7-a{
    height: auto;
    padding: 30px;
    background: url('../images/bg-image.png') top no-repeat;
}
.sec7-a .lg-text{
    max-width: 472px;
    margin-bottom: 15px;
    color: #555555;
    margin: auto;
    line-height: 30px;
    margin-bottom: 20px;
}
.sec7-b{
    color: #555555;
    margin: 60px 0 45px;
}
.sec7-b-col{
    width: 250px;
    height: auto;
    margin: 10px 20px;
}
.sec7-c{
    padding: 0 30px 1px;
}
.sec7-c2{
    margin-bottom: 85px;
}
.socials img{
    margin-right: 17px;
}

@media screen and (min-width: 700px) {
    .sec1{
        margin: 50px auto 0;
    }
    .xl-text{
        font-size: 50px;
        max-width: 522px;
        line-height: 59px;
        font-weight: 300;
        margin-bottom: 27px;
    }
    .sm-text{
        font-size: 18px;
        line-height: 32px;
        margin: 0;
        max-width: 500px;
    }
    .dnld-text{
        margin: 30px 0 50px;
    }
    .dnld-links {
        width: 60%;
        margin: 0 auto 65px;
    }
    .phone-image img {
        height: unset;
    }
    .bg-circle{
        top: -570px;
    }
    .sec3-card {
        width: 388px;
        height: 378px;
        margin: 10px 77px 51px;
        padding: 31px;
    }
    .sec4 .md-text{
        font-size: 20px;
        font-weight: 500;
    }
    .sec4 .lg-text{
        font-size: 50px;
    }
    .sec5-a3 {
        padding: 0;
    }
    .sec5-b img{
        width: auto;
    }
    .sec6{
        padding: 10px 40px 40px;
    }
    .quat{
        position: absolute;
    }
    .quat1{
        border-radius: 1140px;
        height: 1281px;
        width: 1281px;
        left: 0;
        top: -20px;
        background: #F0F0F0;
        z-index: -2;
        transform: translate(-650px, 0);
    }
    .quat2{
        border-radius: 574px;
        height: 1145px;
        width: 1145px;
        right: 0;
        top: 80px;
        background: #C3E4E7;
        z-index: -1;
        transform: translate(510px, 0);
    }
    .sec6-card{
        width: 611px;
    }
    .sec7-a{
        height: auto;
        padding: 30px;
        background: url('../images/bg-image.png') center no-repeat;
    }
    .sec7-c{
        padding: 43px 88px;
    }
}

@media screen and (min-width: 1100px) {
    .sec1 {
        margin: auto;
        margin-right: 0;
    }
    .sec2{
        margin: 0;
    }
    .sec3-card {
        width: 31.3%;
        margin: 10px 10px 51px;
        max-width: 388px;
    }
    .dnld-links {
        width: 40%;
        margin: 0 auto 65px;
        justify-content: flex-end;
    }
    .dnld-text {
        text-align: left;
        padding-left: 10px;
    }
    .dnld-links i{
        margin-right: 15px;
    }
    .sm-text{
        text-align: left;
    }
    .xl-text{
        text-align: left;
    }
    .bg-circle{
        width: 1475px;
        height: 1475px;
        top: -190px;
        border-radius: 730px;
        transform: translate(-286px, 6px);
    }
    .sec5-a3 {
        text-align: left;
    }
    .sec5 {
        align-items: center;
    }
    .sec5-a {
        height: fit-content;
    }
    .sec5-a1 {
        justify-content: flex-start !important;
    }
    .sec5-a2{
        text-align: left !important;
    }
    .sec5-a4{
        justify-content: flex-start !important;
    }
    .sec6-card{
        width: 923px;
    }
    .sec6-item {
        display: flex;
        justify-content: center;
        width: 254px;
    }
    .quat1{
        top: 96px;
        transform: translate(-335px, 0);
    }
    .quat2{
        top: 207px;
        transform: translate(160px, 0);
    }
    .sec7{
        padding: 0 20px;
    }
    .sec7-c {
        display: flex;
        justify-content: space-between;
        padding: 0px 0 30px
    }
    .sec7-c2 {
        margin-bottom: 0;
    }
}